<h1>Home</h1>
	<% @posts.each do |post| %>
		<header>
			
				<div class="title">
					
						<h2 class="text_link"><%= link_to post.title, post , :class => "link"%></h2>
				</div> 

				<div class="meta">
					<time class="published" datetime="2015-11-01"><%= post.created_at.strftime("%b, %d %Y")  %></time>
					<a href="#" class="author"><span class="name">YC Lim</span><img src="images/avatar.jpg" alt="" /></a>
				</div>

		</header>
				<p><%= post.body %></p>
			

		<footer>
			<ul class="actions">
				<li><a href="#" class="button big">Continue Reading</a></li>
			</ul>
			<ul class="stats">
				<li><a href="#">General</a></li>
				<li><a href="#" class="icon fa-heart">28</a></li>
				<li><a href="#" class="icon fa-comment">128</a></li>
			</ul>
		</footer>
	<% end %>
