<h1>Category : <%= @category.name %></h1> 
<% @posts.each do|post| %>
	<h3><%= link_to post.title, post , :class => "link"%></h3>
	<p><%= post.body %></p>
	<hr>
<% end %>

<p><%= link_to "Back to Categories", categories_path , :class => "link"%></p>